n8n/workflows/generate-questions.json
{
  "name": "生成问题变体",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-questions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-004",
      "name": "Webhook接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "generate-questions"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "deepseek-chat",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是一个SEO问题变体生成专家。基于用户查询生成多种问题变体，用于覆盖更多搜索意图。\n\n生成策略：\n1. 同义词替换\n2. 改变提问方式（如何/什么是/怎样）\n3. 添加限定词（最好的/简单的/快速的）\n4. 长尾扩展\n5. 地域化变体\n\n返回JSON格式：\n{\n  \"original\": \"原问题\",\n  \"variations\": [\n     {\"question\": \"变体1\", \"type\": \"synonym\"},\n     {\"question\": \"变体2\", \"type\": \"how-to\"},\n     {\"question\": \"变体3\", \"type\": \"long-tail\"}\n  ],\n  \"total\": 10\n}"
            },
            {
              "role": "user",
              "value": "请为以下问题生成变体：\n问题：{{ $json.question }}\n目标数量：{{ $json.count || 10 }}个"
            }
          ]
        },
        "options": {
          "temperature": 0.6
        }
      },
      "id": "ai-004",
      "name": "AI生成问题变体",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "deepseek-credentials",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json.message.content;\nconst parsed = JSON.parse(response);\n\n// 去重并排序\nconst uniqueVariations = parsed.variations.filter((v, i, a) => \n  a.findIndex(t => t.question === v.question) === i\n);\n\nreturn [{\n  json: {\n    status: 'success',\n    data: {\n      original: parsed.original,\n      variations: uniqueVariations,\n      total: uniqueVariations.length\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-004",
      "name": "去重并统计",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "resp-004",
      "name": "返回响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook接收": {
      "main": [
        [
          {
            "node": "AI生成问题变体",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI生成问题变体": {
      "main": [
        [
          {
            "node": "去重并统计",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "去重并统计": {
      "main": [
        [
          {
            "node": "返回响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-22T00:00:00.000Z",
  "versionId": "1"
}
