n8n/workflows/index-check-analysis.json
{
  "name": "收录检测分析",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "index-check-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-003",
      "name": "Webhook接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "index-check-analysis"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "deepseek-chat",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是一个AI搜索引擎收录分析专家。分析以下收录检测结果，给出优化建议。\n\n分析维度：\n1. 收录率评估\n2. 命中位置分析\n3. 与竞品对比\n4. 优化建议\n\n返回JSON格式：\n{\n  \"indexed_rate\": \"85%\",\n  \"avg_position\": 3.2,\n  \"status\": \"good|warning|critical\",\n  \"suggestions\": [\"建议1\", \"建议2\"],\n  \"analysis\": \"详细分析文字\"\n}"
            },
            {
              "role": "user",
              "value": "请分析以下收录检测数据：\n关键词：{{ $json.keyword }}\n豆包收录：{{ $json.doubao_indexed }}\n千问收录：{{ $json.qianwen_indexed }}\nDeepSeek收录：{{ $json.deepseek_indexed }}\n历史数据：{{ $json.history }}"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "ai-003",
      "name": "AI分析收录",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "deepseek-credentials",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json.message.content;\nconst parsed = JSON.parse(response);\n\n// 根据状态确定预警级别\nconst alertLevel = parsed.status === 'critical' ? 'high' : \n                  parsed.status === 'warning' ? 'medium' : 'low';\n\nreturn [{\n  json: {\n    status: 'success',\n    data: parsed,\n    alert: {\n      level: alertLevel,\n      needs_attention: alertLevel !== 'low'\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-003",
      "name": "解析并设置预警",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "resp-003",
      "name": "返回响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook接收": {
      "main": [
        [
          {
            "node": "AI分析收录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI分析收录": {
      "main": [
        [
          {
            "node": "解析并设置预警",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析并设置预警": {
      "main": [
        [
          {
            "node": "返回响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-22T00:00:00.000Z",
  "versionId": "1"
}
