n8n/workflows/keyword-distill.json
{
  "name": "GEO关键词蒸馏",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keyword-distill",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "keyword-distill"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "processing"
            }
          ]
        }
      },
      "id": "set-001",
      "name": "设置处理状态",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "deepseek-chat",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是一个SEO关键词分析专家。请根据用户输入的原始关键词，蒸馏出高价值的SEO关键词列表。\n\n要求：\n1. 提取核心商业意图关键词\n2. 识别长尾关键词\n3. 过滤低价值词\n4. 按优先级排序\n\n返回JSON格式：\n{\n  \"core_keywords\": [\"核心词1\", \"核心词2\"],\n  \"long_tail_keywords\": [\"长尾词1\", \"长尾词2\"],\n  \"rejected\": [\"被过滤的词\"]\n}"
            },
            {
              "role": "user",
              "value": "={{ $json.keywords }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ai-001",
      "name": "AI关键词蒸馏",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "deepseek-credentials",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json.message.content;\nconst parsed = JSON.parse(response);\n\nreturn [{\n  json: {\n    status: 'success',\n    data: parsed,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-001",
      "name": "解析AI响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "resp-001",
      "name": "返回响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook接收": {
      "main": [
        [
          {
            "node": "设置处理状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置处理状态": {
      "main": [
        [
          {
            "node": "AI关键词蒸馏",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI关键词蒸馏": {
      "main": [
        [
          {
            "node": "解析AI响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析AI响应": {
      "main": [
        [
          {
            "node": "返回响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-22T00:00:00.000Z",
  "versionId": "1"
}
